* {
    box-sizing: border-box;
  }

.landing {
  margin-top: 150px;
  text-align: center;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  line-height: 1.5;
  }

.landing-title {
  font-size: 300%;
  font-style: italic;
  }

.landing-heading {
  margin-bottom: 50px;
}
  
.landing-section {
  min-height: 200px;
  padding: 50px 50px;
  margin-bottom: 50px;
  color: white;
}

.landing-section-heading {
  margin-top: 0px;
  margin-bottom: 25px;
}

.how-it-works {
    background-color: purple;
    padding-left: 50px;
    padding-right: 50px;
  }

.view-expenses {
    background-color: salmon;
  }

.know-where-you-stand {
    background-color: lightskyblue;
  }

.organize-your-expenses {
    background-color: lightgreen;
  }

.sign-up-button {
  margin-top: 0px;
  margin-bottom: 25px;
  border-radius: 5px;
  padding: 15px 30px;
  color: white;
  background-color: purple;
  border: purple;
  font-size: 24px;
}

.sign-up-button:hover {
  cursor: pointer;
  background: pink;
  transition: 0.3s; 
}

  @media screen and (max-width:500px) {

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 24px;
    }

    p {
      font-size: 18px;
    }

    .sign-up-button {
      font-size: 16px;
      padding: 5px 10px;
    }
  }