.add-expense-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #82E0AA;
  } 

.add-expense-nav-ul {
    list-style: none;
    text-align: right;
}

.add-expense-nav-li {
    display: inline;
    margin-right: 25px;
}

@media screen and (max-width: 500px) {
    .add-expense-nav {
        font-size: 14px;
    }

    .add-expense-nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}