.add-expense-nav-ul {
    list-style: none;
    text-align: right;
}

.add-expense-nav-li {
    display: inline;
    margin-right: 24px;
}

@media screen and (max-width: 500px) {
    .add-expense-nav {
        font-size: 14px;
    }

    .add-expense-nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}