.login-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #82E0AA;
  } 

.login-nav-ul {
    list-style: none;
    margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .login-nav {
    font-size: 14px;
  }

  .login-nav-li {
    display: flex;
    justify-content: space-around;
  }
}