.home {
    text-align: center;
}

.welcome {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dollars-spent {
    text-align: center;
    margin-bottom: 100px;
}

.budget-dollars {
    text-align: center;
    margin-top: 100px;
}

@media screen and (max-width: 500px) {

    .welcome {
        margin-left: 0px;
        text-align: center;
    }

    .home {
        display: block;
        text-align: center;
    }

    .dollars-spent {
        text-align: center;
    }

    .budget-dollars {
        text-align: center;
    }
}