.home {
    text-align: center;
}

.welcome {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.dollars-spent {
    text-align: center;
    margin-bottom: 50px;
}

.budget-dollars {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {

    .welcome {
        margin-left: 0px;
        margin-bottom: 50px;
    }

    .home {
        display: block;
    }

    .greeting {
        font-size: 18px;
    }

    .dollars-spent {
        font-size: 12px;
        margin-bottom: 10px;
    }

    .budget-dollars {
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
    }
}