.summary-item {
    display: grid;
    grid-template-columns: 15% 40% 20% 15% 10%;
    font-size: 75%;
    text-align: center;
    list-style: none;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 2px solid white;
}

.summary-item:nth-child(even) {
    background: gray;
}

.delete-button {
    color: white;
    background: transparent;
    border: 2px solid white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 5px 5px;
}

.delete-button:hover {
    cursor: pointer;
    background: white;
    color: black;
    transition: 0.1s;
}

@media screen and (max-width: 500px) {
    .category-detail {
        display: none;
    }

    .summary-item {
        grid-template-columns: 25% 35% 25% 15%;
    }
}