.summary-list {
    margin-top: 48px;
    text-align: center;
    background-color: lightskyblue;
    color: white;
    border-radius: 50px;
}

.summary-expenses {
    display: grid;
    grid-template-columns: 15% 20% 30% 20% 10% 5%;
    list-style: none;
    text-decoration: underline;
    padding-left: 0px;
    margin-bottom: 0px;
}

.summary-list-item {
    margin-top: 24px;
    margin-bottom: 16px;
}

@media screen and (max-width: 1024px) {

    .summary-expenses {
        grid-template-columns: 15% 40% 20% 15% 10%;
    }

    .description-list-item {
        display: none;
    }
}

@media screen and (max-width: 500px) {

    .summary-expenses {
        grid-template-columns: 25% 35% 25% 15%;
    }

    .summary-list-item {
        font-size: 14px;
    }

    .category-list-item {
        display: none;
    }
}