.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #82E0AA;
    border-radius: 25px;
}

.landing-nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 28px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  font-style: italic;
}

@media screen and (max-width: 500px) {

  .nav {
    font-size: 12px;
  }

  .landing-nav-li {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
}