.landing-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #82E0AA;
  } 

.landing-nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

@media screen and (max-width: 500px) {
  .landing-nav {
    font-size: 16px;
}
  .landing-nav-li {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }
}