.new-profile-nav-ul {
    list-style: none;
    text-align: right;
}

.new-profile-nav-li {
    display: inline;
    margin-right: 25px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

@media screen and (max-width: 500px) {
    .new-profile-nav {
        font-size: 14px;
      }
}