.add-expense {
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    border: 1px lightskyblue solid;
    background-color: lightskyblue;
    color: white;
    border-radius: 50px;
    padding: 20px;
    width: 500px;
}

.add-expense-legend {
    text-align: center;
}

.add-expense-field {
    font-family: "Open Sans", sans-serif; 
    border: lightskyblue;
    background-color: lightgrey;
    padding: 5px 5px;
    color: white;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    border-radius: 5px;
    width: 75%;
}

.new-expense-description {
    height: 75px;
}

.cost-input {
    border: lightskyblue;
    background-color: lightgray;
    color: white;
    padding: 5px 5px;
    font-size: 14px;
    text-align: left;
    margin-bottom: 30px;
    width: 25%;
}

.category-section {
    border-top: white dotted 5px;
}

.add-expense-category {
    margin-top: 0px;
    margin-left: 20px;
    background-color: lightgrey;
    padding: 5px 5px;
    font-size: 14px;
    color: white;
}

.add-expense-text {
    display: inline;
    margin-left: 20px;
}

.category-input {
    border: lightskyblue;
    background-color: lightgrey;
    padding: 5px 5px;
    color: white;
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 150px;
}

.submit-new-expense {
    margin-top: 25px;
    padding: 5px 10px;
    color: white;
    background-color: lightblue;
    border: lightblue;
    font-size: 18px;
}

.submit-new-expense:hover {
    cursor: pointer;
    border: #82E0AA;
    background-color: #82E0AA;
    transition: 0.1s;
}

.add-expense-label {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: underline;
}

.add {
    text-align: center;
    margin-top: 50px;
}

@media screen and (max-width: 500px) {
    .add-expense {
        width: 75%;
        margin-top: 100px;
    }

    .add-expense-label {
        font-size: 18px;
    }

    .add {
        margin-top: 25px;
    }
}
