.summary-total {
    margin-top: 48px;
    margin-left: auto;
    margin-right: 100px;
    width: 300px;
    padding-bottom: 12px;
}

@media screen and (max-width: 960px) {
    .summary-total {
        margin-right: 0px;
    }
}

@media screen and (max-width: 500px) {
    .summary-total {
        width: 150px;
    }

    .total {
        font-size: 14px;
    }
}