.summary-filters {
    text-align: center;
}

.summary-category-filter {
    display: inline-block;
}

.category-filter-label {
    margin-left: 8px;
}

.filter {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: white;
}

.summary-search-filter {
    display: inline-block;
}

.search-filter-label {
    margin-left: 8px;
}

.search {
    margin-left: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    border: 1px solid  lightblue;
    background-color: lightblue;
    color: white;
}

.search:hover {
    cursor: pointer;
    border: 1px solid  #82E0AA;
    background-color: #82E0AA;
    transition: 0.1s;
}

input {
    border-radius: 5px;
}

select {
    border-radius: 5px;
}

@media screen and (max-width: 500px) {
    .summary-filters {
        text-align: left;
    }

    .category-filter-label {
        font-size: 12px;
    }

    .summary-category-filter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }

    .search-filter-label {
        font-size: 12px;
    }

    .summary-search-filter {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
    }
}