.home-nav-ul {
    list-style: none;
    text-align: right;
}

.home-nav-li {
    display: inline;
    margin-right: 25px;
}

@media screen and (max-width: 500px) {

    .home-nav {
        font-size: 16px;
    }

    .home-nav-ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}